.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    width: 300px;
    background-color: rgb(255, 166, 0);
    padding: 40px;
    border-radius: 10px;
}
form * {
    width: 100%;
    background-color: rgb(255, 166, 0);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form label {
    margin-top: 20px;
}
input[type="submit"] {
    margin-top: 20px;
}

form input, form select {
    border-radius: 5px;
    padding: 7px;
    border: .5px solid rgb(128, 128, 128);
}
form label {
    position: relative;
    padding: 0px 2px;
    top: 7px;
    left: 10px;
    width: fit-content;
}

