:root {
    --radius: 15px;
    --padding: 20px;
    --main-padding: 60px;

    --card-color: rgba(95, 0, 133, 0.5);
    --contrast-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_cont {
    overflow: hidden;
}
    .img_opacity {
        opacity: 50%;
    }
    .img_cont img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

#first_img {
    /* border: 1px solid red; */
    /* border-radius: var(--radius); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
    #first_img img {
        width: 100vw;
        height: 100vh;
    }

#first {
    /* border: 1px red solid; */
    width: 70vw;
    height: fit-content;
    position: relative;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


body {
    background-color: black;
    color: white;
}
main {
    padding: 0 20px;
}
header {
    /* border: rgb(0, 47, 255) 1px solid; */
    gap:10vw;

    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: var(--padding);
    position: fixed;
    /* border: 2px red solid; */
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px var(--card-color);
    color: white;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header h1 {
    text-shadow: 0 0 10px black;
}
nav {
    min-width: 500px;

    height: 100%;
    display: flex;
    gap: 20px;
    /* border: 1px solid; */
    height: 100%;
}
    nav li {
        list-style: none;
        /* border: 1px solid; */
        transition: all .2s linear;
    }
        nav li a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: rgb(0, 119, 255) 0 0 20px;
            font-size: 15px;
        }

    nav li a.active {
        /* text-decoration: underline; */
        font-weight: bold;
        font-size: 20px;
    }
    nav li:hover {
        scale: 1.1;
    }
    nav li:hover,
    nav li a.active {
        transition: all .2s linear;
    }


main {
    /* border: solid red 2px; */
    position: relative;
    top: 100px;
    height: fit-content;
    min-height: 80vh;
    padding: var(--padding);
}

section {
    border: solid rgb(255, 255, 255) 2px;
    border-radius: var(--radius);
    padding: var(--padding);
    max-width: 1000px;
    backdrop-filter: blur(5px);

    margin-bottom: 200px;
}



header .profile_img {
    /* border: rgb(255, 255, 255) .5px solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
    header .profile_img a {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border: red 1px solid; */
        transition: all .2s linear;
    }
    header .profile_img{ transition: all .2s linear; }
    header .profile_img:hover {
        scale: .93;
        transition: all .2s linear;
    }
/* card */

.card_container {
    /* border: solid red 2px; */
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
    .card {
        flex-direction: column;
        /* border: red 1px solid; */
        width: 200px;
        height: 200px;
        color: white;
        border-radius: var(--radius);
        background-color: var(--card-color);
        padding: var(--padding);
        text-shadow: 0 0 5px black;

        backdrop-filter: blur(5px);
        gap: 20px;

    }
        .card p {
            /* border: 2px black; */
            display: inline-block;
        }




@media (max-width: 502px) {
    header nav {
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }
}





