:root {
    --radius: 15px;
    --padding: 20px;
    --main-padding: 60px
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.img_cont {
    overflow: hidden;
}
.img_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    padding: var(--main-padding);
}
/* HOME */
header {
    /* border: rgb(0, 47, 255) 1px solid; */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: var(--padding);
    position: fixed;
    /* border: 2px red solid; */
    width: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px rgb(116, 116, 255);
    color: white;
}
header h1 {
    text-shadow: 0 0 10px black;
}
nav {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px;
    /* border: 1px solid; */
    height: 100%;
}
    nav li {
        list-style: none;
        /* border: 1px solid; */
        transition: all .2s linear;
    }
        nav li a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: rgb(0, 119, 255) 0 0 20px;
            font-size: 15px;
        }

    nav li a.active {
        /* text-decoration: underline; */
        font-weight: bold;
        font-size: 20px;
    }
    nav li:hover {
        scale: 1.1;
    }
    nav li:hover,
    nav li a.active {
        transition: all .2s linear;
    }


header .profile_img {
    /* border: rgb(0, 0, 0) .5px solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
    header .profile_img a {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border: red 1px solid; */
        transition: all .2s linear;
    }
    header .profile_img{ transition: all .2s linear; }
    header .profile_img:hover {
        scale: .93;
        transition: all .2s linear;
    }


    main {
        
    }
#first_img {
    /* border: 1px solid red; */
    /* border-radius: var(--radius); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
    #first_img img {
        width: 100vw;
        height: 100vh;
    }



#first {
    /* border: 1px red solid; */
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 200px;
}
/* card */
.card {
    flex-direction: column;
    /* border: red 1px solid; */
    width: 200px;
    height: 200px;
    color: white;
    border-radius: var(--radius);
    background-color: rgba(132, 0, 255, 0.671);
    padding: var(--padding);
    text-shadow: 0 0 5px black;
}
.card p {
    border: 2px black;
    display: inline-block;
}