#body {
    background-color: rgb(255, 196, 0);
    animation: infinite color 3s;
}

@keyframes color {
    0% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
    90% {
        background-color: rgb(0, 255, 191);
    }
    100% {
        background-color: red;
    }
}

