* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    animation: 20s b_gradient infinite;
    overflow-x: hidden;
    padding-bottom: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header {
    background-color: rgb(0, 132, 255);
    color: rgba(255, 255, 255, 0.932);
    padding: 10px;
}

@keyframes b_gradient {
    0% {
        background-color: rgb(0, 238, 255);
    }
    40% {
        background-color: rgb(180, 255, 106);
    }
    60% {
        background-color: rgb(243, 156, 255);
    }
    100% {
        background-color: rgb(0, 238, 255);
    }
}

div {
    width: 100vw;
    justify-items: center;
}

ul {
    list-style: circle;
    margin-left: 30px;
}

#piatti {
    /* border: 1px solid #ff0000; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 90vw;
    margin: 0 auto;
}

.card {
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cont_img {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

.card:hover img {
    scale: 1.2;
    transition: 0.2s ease-in;
}

.cont_img:hover img {
    transition: 0.2s ease-in-out;
}

img {
    position: relative;
    left: -30px;
    height: 150px;
    transition: 0.5s ease-in-out;
}
